.side-nav {
    position: fixed;
    top: 8rem;
    right: 12rem;
    height: 100vh;
    width: 4rem;
    gap: var(--space-lg);
    z-index: 5;

    .local-time__value,
    .local-time__meta {
        color: var(--muted);
        font-family: var(--font-family-mono);
    }

    .local-time__content {
        display: flex;
        flex-direction: column;
    }
}